.game-card {
    height: 75vh;
    font-family: 'Open Sans', monospace;
}

#surnameOutput {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

#firstNameOutput{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

#dateOfBirthOutput {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

#generateData {
    margin-top: 10px;
}